name: CD pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed


jobs:

  build:

    runs-on: self-hosted

    steps:
    - name: Pull Docker iamge
      run: sudo docker pull toybayev2/flask-template-endterm:latest

    - name: Delete Old Docker Container
      run: sudo docker rm -f flask-template-endterm-container || true
      
    - name: Run Docker Container
      run: sudo docker run -d -p 8080:8080 --name flask-template-endterm-container toybayev2/flask-template-endterm

